* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    color: goldenrod;
    transition: 1s all ease-in-out;
}
h1:hover{color: aqua;}
input:focus{width: 200px;color: goldenrod;font-size: 20px;}
a:visited{color: blueviolet;}
a:active{color: black;}
li:nth-child(4n+2){background-color: aqua;}
p::before{content: 	"\1F601";}
p::after{content: "\1F929";}
#container{background-color: brown;width: 100%;height: 300px;}
.div1{background-color: blueviolet;width: 100px;height: 100px;}
.div2{background-color: blue;width: 100px;height: 100px;position: static;left: 100px;}
.div3{background-color: goldenrod;width: 100px;height: 100px;}